/* Dropdown.css */

/* Base styles for the dropdown content */
.dropdown-content {
    display: none; /* Hide by default */
    position: absolute; /* Position absolutely within the relative parent */
    left: 0;
    right: 0; /* Span the full width of the nav bar */
    top: 100%; /* Positioned right below the nav item */
    background-image: linear-gradient(to left, #fff 65%, transparent 65%);
    width: 100%; /* Stretch across the full width of its container */
    height: 18rem;
    color: #e0d6d6; /* Text color */
    box-shadow: 0 8px 16px rgba(0,0,0,0.1); /* Add a subtle shadow */
    z-index: 100; /* Ensure it's on top of other content */
    border-radius: 0.5rem; /* Optional: rounded corners */
    padding: 1rem; /* Padding inside the dropdown */
    border-top: 4px solid #5b3ef5; /* Optional: Top border styling */
  }
  /* Styles for when the dropdown is supposed to be open */
  .dropdown-open .dropdown-content {
    display: block; /* Show the dropdown */
  }
  
  /* Styling for the headings within the dropdown */
  .dropdown-content h2 {
    font-size: 1.25rem; /* Heading size */
    margin-bottom: 0.75rem; /* Space below headings */
    font-weight: 600; /* Font weight */
    color: black
  }
  
  /* Styling for the list items within the dropdown */
  .dropdown-content ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
  }
  
  .dropdown-content ul li {
    margin-bottom: 0.5rem; /* Space between list items */
    cursor: pointer; /* Indicate that items are clickable */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  /* Hover effect for list items */
  .dropdown-content ul li:hover {
    background-color: #f3f4f6; /* Light grey background on hover */
    color: black;
  }
  
  /* Styling for buttons within the dropdown */
  .dropdown-content button {
    cursor: pointer; /* Indicate that button is clickable */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  /* Hover effect for buttons */
  .dropdown-content button:hover {
    background-color: #4c1d95; /* Different background color on hover */
  }
  
  .dropdown-content.show {
    display: block;
  }
  h2{
    color: white !important;
  }

  